@import "box-shadow.css";
@import "btn-spin.css";

/*隐藏滚动条*/
::-webkit-scrollbar {
    width: 0 !important;
}
::-webkit-scrollbar {
    width: 0 !important;height: 0;
}

body {
    /*overflow: hidden;*/
    text-align: center;
}