@import "box-shadow.css";
@import "btn-spin.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

/*隐藏滚动条*/
::-webkit-scrollbar {
    width: 0 !important;
}
::-webkit-scrollbar {
    width: 0 !important;height: 0;
}

body {
    /*overflow: hidden;*/
    text-align: center;
    color: #3C374A;
    background-image: linear-gradient(transparent 98%, #BDBDBD 98%),
    linear-gradient(to right, transparent 98%, #BDBDBD 98%);
    background-size: 30px 30px;
    background-repeat: repeat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}